* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #0000;
}

header {
    background-color: #111;
    padding: 0px 215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: #ffff;
    }
}